;;;; Example config and aliases for git-hyperfine(1). See
;;;; https://gitlab.com/avar/git-hyperfine/ and
;;;; https://github.com/avar/git-hyperfine/

;;; The "hyperfine.run-dir" configuration is mandatory
[hyperfine]
run-dir = $XDG_RUNTIME_DIR/git-perf

;;;; Everything below this point not needed for git-hyperfine itself,
;;;; it's "git hf-*" aliases that I finds handy, included here because
;;;; they serve as a useful example.
;;;;
;;;; These are especially useful with "git rebae -i --exec". I've also
;;;; got these related aliases in my .gitconfig
;;;; (https://github.com/avar/dotfiles/blob/master/.gitconfig):
;;;;
;;;;	[alias]
;;;;	reference = !git --no-pager log --pretty=reference -1
;;;;	ri = rebase -i
;;;;	rix = ri --exec
;;;;	rixr = rix 'git reference'
;;;;
;;;; Which means you can do "git rixr --exec "git hf [...]"' and have
;;;; "rebase" print out a summary of each processed commit.

[alias]
;;; git hf-rev HEAD~0,HEAD~1 -r 1 'pwd; git rev-parse HEAD' --show-output
hf-rev = hyperfine -L rev
;;; git hf-cmp-prev -r 1 'pwd; git rev-parse HEAD' --show-output
;;; git rebase -i --exec 'git hf-cmp-prev "make test"'
hf-cmp-prev = hf-rev HEAD~0,HEAD~
;;; git hf-cmp-prev-warmup-1 -r 1 'pwd; git rev-parse HEAD' --show-output
hf-cmp-prev-warmup-1 = hf-cmp-prev --warmup 1
;;; hf-cmp-prev-warmup-1-make-all-all: test "make -jN all" with warmup. For
;;; testing the dry-run behavior of the Makefile
hf-cmp-prev-warmup-1-make-all-all = "hf-cmp-prev-warmup-1 --build \"make -j $(nproc) all\" \"make -j$(nproc) all\""
