;; Example config and aliases for git-hyperfine(1). See
;; https://gitlab.com/avar/git-hyperfine/ and
;; https://github.com/avar/git-hyperfine/

[hyperfine]
run-dir = $XDG_RUNTIME_DIR/git-perf

;; Handy aliases to use as shorthands, especially useful with "git
;; rebase -i --exec ..."
[alias]
;; git hf-rev HEAD~0,HEAD~1 -r 1 'pwd; git rev-parse HEAD' --show-output
hf-rev = hyperfine -L rev
;; git hf-cmp-prev -r 1 'pwd; git rev-parse HEAD' --show-output
hf-cmp-prev = hf-rev HEAD~0,HEAD~
;; git hf-cmp-prev-warmup-1 -r 1 'pwd; git rev-parse HEAD' --show-output
hf-cmp-prev-warmup-1 = hf-cmp-prev --warmup 1
;; hf-cmp-prev-warmup-1-make-all-all: test "make -jN all" with warmup. For
;; testing the dry-run behavior of the Makefile
hf-cmp-prev-warmup-1-make-all-all = "hf-cmp-prev-warmup-1 --build \"make -j $(nproc) all\" \"make -j$(nproc) all\""
